<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="MasrafDbConnstr" connectionString="Server = DESKTOP-I0M32R9\SQLEXPRESS;Database = MasrafOtomasyonuDB;Integrated security =SSPI "/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>